In [1]:
import pandas as pd
import numpy as np
import pickle

In [7]:
with open('./data/green_products_2014_2018.pkl', 'rb') as f:
    green_products = pickle.load(f)
dfgp = pd.DataFrame(green_products)
dfgp.head()

        0
0  460120
1  730820
2  732111
3  732490
4  840290

In [8]:
with open('./data/grafo_conexiones_pesos_2014_2018.pkl', 'rb') as f:
    data = pickle.load(f)

In [9]:
# Grafo conexiones con pesos productos verdes
df = pd.DataFrame(data, columns=["x", "y", "weight"])

# Pasar de indice a código de producto
df['x'] = df['x'].apply(lambda x: dfgp[0][x])
df['y'] = df['y'].apply(lambda x: dfgp[0][x])

df['weight'] = df['weight'].map(lambda x: x['weight'])

df.columns = ["source", "target", "weight"]
df.to_csv('./green_products_edges.csv')

In [10]:
df

     source  target    weight
0    460120  530599  0.461538
1    460120  380210  0.357143
2    730820  853720  0.500000
3    732111  700991  0.500000
4    732490  870892  0.666667
..      ...     ...       ...
486  871492  871499  0.555556
487  871493  871494  0.636364
488  871493  871496  0.636364
489  871494  871496  0.600000
490  871496  871499  0.562500

[491 rows x 3 columns]